.reactselect__control {
  border: unset !important;
  border-radius: 0 !important;
  padding: 8px;
  height: 56px;
  line-height: 1rem;
  box-shadow: theme('boxShadow.md') !important;
  cursor: text !important;
  font-family: 'TitilliumWeb-Regular' !important;
  align-items: center;
}

.reactselect__control--is-focused {
  box-shadow: theme('boxShadow.input') !important;
}

.reactselect__option--is-selected {
  background-color: theme('colors.purple.DEFAULT') !important;
}

.reactselect__clear-indicator > svg {
  display: none;
}

.reactselect__clear-indicator::after {
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  content: '×';
  color: #c0c0c0 !important;
}

@media only screen and (min-width: 640px) {
  .reactselect__menu {
    width: 30rem !important;
  }

  .reactselect__control {
    font-size: 1.125rem !important;
    font-family: 'TitilliumWeb-Regular' !important;
  }
}

.reactselect__value-container--is-multi {
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

.reactselect__multi-value {
  background-color: theme('colors.purple.DEFAULT') !important;
  padding: 6px 12px !important;
  display: flex !important;
  color: white;
  align-items: center;
  font-family: 'TitilliumWeb-Regular' !important;
}
.reactselect__input-container {
  margin: 0 !important;
  padding: 0 !important;
}

.reactselect__multi-value__label {
  font-size: 0.875rem !important;
  padding: 0 !important;
  color: white !important;
  font-weight: bold !important;
  max-width: 7rem;
  font-family: 'TitilliumWeb-Regular' !important;
}

.reactselect__input-container input[type='text']:focus {
  box-shadow: none !important;
}

.reactselect__multi-value__remove {
  border-radius: 25px !important;
  background: white;
  padding: 4px !important;
  margin-left: 6px;
}

.reactselect__multi-value__remove:hover {
  background-color: white !important;
}

.reactselect__multi-value__remove > svg {
  color: theme('colors.purple.DEFAULT');
  font-size: 1rem;
  width: 16px;
  height: 16px;
}

.reactselect__menu {
  font-family: 'TitilliumWeb-Regular' !important;
  z-index: 999 !important;
}

.reactselect__menu > div > div {
  background-color: white;
}

.reactselect__menu > div > div:hover {
  background-color: theme('colors.purple.100');
}

.reactselect__menu > div > div:active {
  background-color: theme('colors.purple.500');
  color: white;
}
