.reactselect__control {
  /* border-radius: 6px !important; */
  border: 1px solid #6B7280!important;
  border-radius: 0!important;
  padding: 8px;
  height: 56px;
  line-height: 1rem;
 
  
}

.reactselect__option--is-selected {
  background-color: #6543C8 !important;
}

@media only screen and (min-width: 675px) {
  
  .reactselect__menu {
    width: 30rem!important;
  }

  .reactselect__control { 
    font-size: 1.25rem!important;
    font-family: 'TitilliumWeb-Regular'!important
  }
}


.reactselect__value-container--is-multi {
 flex-direction: row!important;
 flex-wrap: nowrap!important;
}

.reactselect__multi-value {
  background-color: #6543C8 !important;
  padding: 6px 12px !important;
  /* border-radius: 100px !important; */
  display: flex!important;
  color: white;
  align-items: center;
  font-family: 'TitilliumWeb-Regular'!important;
}
.reactselect__input-container {
  margin: 0!important;
  padding: 0!important;
}

.reactselect__multi-value__label {
  font-size: 0.875rem !important;
  padding: 0 !important;
  color: white!important;
  font-weight: bold !important;
  max-width: 7rem;
  font-family: 'TitilliumWeb-Regular'!important;
}

.reactselect__input-container input[type='text']:focus {
  box-shadow: none !important;
}

.reactselect__multi-value__remove {
  border-radius: 25px !important;
  background: white;
  padding: 4px !important;
  margin-left: 6px;
}

.reactselect__multi-value__remove:hover {
  background-color: white !important;
}

.reactselect__multi-value__remove > svg {
  color: #6543C8;
  font-size: 1rem;
  width: 16px;
  height: 16px;
}

.reactselect__menu {
  border: 1px solid #6B7280;
  border-radius: 0px!important;
  font-family: 'TitilliumWeb-Regular'!important;
}

.reactselect__option:hover {
  background-color: #8a76c5;
  color: white;
}