@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('./assets/fonts/TitilliumWeb-Bold.ttf');
}

@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('./assets/fonts/TitilliumWeb-SemiBold.ttf');
}

@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf');
}

@layer components {
  .gray-button {
    @apply w-full py-4 px-[45px] shadow-sm bg-gray-150 text-medium sm:w-auto;
  }

  body {
    @apply font-titillium;
  }

  .yellow-button {
    @apply font-titilliumSemiBold rounded sm:py-[13px] py-[8px] sm:px-[25px] px-[15px] shadow-sm bg-yellow sm:w-auto h-fit text-center lg:w-48 w-32 sm:text-xl text-sm min-w-fit outline-none hover:bg-yellow-300;
  }

  .title {
    @apply font-titilliumBold sm:text-3xl lg:text-4xl text-2xl;
  }

  .subtitle {
    @apply font-titilliumBold sm:text-xl lg:text-2xl text-lg;
  }

  .body-text {
    @apply sm:text-xl text-sm sm:!leading-9 !leading-6;
  }

  .article {
    @apply sm:text-base text-sm text-gray-500 break-word;
  }

  .card-text-overflow {
    @apply text-ellipsis overflow-hidden break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .card-title-overflow {
    @apply text-ellipsis overflow-hidden break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .virtuso-grid-list {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-5 sm:gap-8;
  }

  .menu-title {
    @apply font-titilliumBold md:text-lg text-sm text-gray-900 leading-3 cursor-pointer whitespace-nowrap;
  }

  .side-menu-title {
    @apply font-titilliumBold text-lg text-gray-900 leading-3;
  }

  .footer-title {
    @apply font-titilliumBold text-base text-yellow;
  }

  .footer-text {
    @apply font-titillium text-base text-gray-300;
  }

  .footer-url {
    @apply footer-text hover:underline cursor-pointer;
  }

  .show-more-text {
    @apply text-blue cursor-pointer underline;
  }

  .break-word {
    word-break: break-word;
  }

  .range-clear-button::after {
    background-color: transparent !important;
    color: #c0c0c0 !important;
    height: 20px !important;
    width: 20px !important;
    font-size: 20px !important;
  }

  .datepicker-clear-button {
    padding: 0px !important;
  }

  .datepicker-clear-button::after {
    background-color: transparent !important;
    color: #c0c0c0 !important;
    font-size: 24px !important;
    padding: 0 16px 0 0 !important;
  }

  .wrapper {
    @apply sm:w-[80%] w-[90%] max-w-screen-xl sm:py-20 py-10 flex flex-col sm:gap-8 gap-5 justify-items-center mx-auto;
  }

  .right-split-color {
    background: linear-gradient(
      to right,
      theme('backgroundColor.yellow.500') 0%,
      theme('backgroundColor.yellow.500') 50%,
      theme('backgroundColor.gray.100') 50%,
      theme('backgroundColor.gray.100') 100%
    );
  }
  .bottom-split-color {
    background: linear-gradient(
      to bottom,
      theme('backgroundColor.yellow.500') 0%,
      theme('backgroundColor.yellow.500') 50%,
      theme('backgroundColor.gray.100') 50%,
      theme('backgroundColor.gray.100') 100%
    );
  }
}

.content {
  /* Give the content enought white space so the footer is at the bottom */
  min-height: calc(100vh - 11rem - 13rem);
}

a {
  @apply text-purple;
}

.richtext_html ul {
  list-style: disc !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.richtext_html ol {
  list-style: auto !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
