@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('./assets/fonts/TitilliumWeb-Bold.ttf');
}

@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('./assets/fonts/TitilliumWeb-SemiBold.ttf');
}

@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf');
}

@layer components {
  .gray-button {
    @apply w-full py-4 px-[45px] shadow-sm bg-gray-150 text-medium sm:w-auto;
  }

  body {
    @apply font-titillium;
  }

  .yellow-button {
    @apply font-titilliumSemiBold rounded sm:py-[13px] py-[8px] sm:px-[25px] px-[15px] shadow-sm bg-yellow-500 sm:w-auto h-fit text-center lg:w-48 w-32 sm:text-xl text-sm min-w-fit focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple;
  }

  .title {
    @apply font-titilliumBold sm:text-3xl lg:text-4xl text-2xl;
  }

  .subtitle {
    @apply font-titilliumBold sm:text-xl lg:text-2xl text-lg;
  }

  .body-text {
    @apply sm:text-xl text-sm sm:!leading-9 !leading-6;
  }

  .article {
    @apply sm:text-base text-sm text-gray-500 break-words;
  }

  .card-text-overflow {
    @apply text-ellipsis overflow-hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .card-title-overflow {
    @apply text-ellipsis overflow-hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .virtuso-grid-list {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-5 sm:gap-8;
  }

  .menu-title {
    @apply font-titilliumBold md:text-lg text-sm text-gray-900 leading-3 cursor-pointer;
  }

  .side-menu-title {
    @apply font-titilliumBold text-lg text-gray-900 leading-3;
  }

  .footer-title {
    @apply font-titilliumBold text-base text-yellow-1000;
  }

  .footer-text {
    @apply font-titillium text-base text-gray-300;
  }

  .footer-url {
    @apply footer-text hover:underline cursor-pointer;
  }

  .show-more-text {
    @apply text-blue cursor-pointer underline;
  }

  .break-word {
    word-break: break-word;
  }
}

.content {
  /* Give the content enought white space so the footer is at the bottom */
  min-height: calc(100vh - 11rem - 18rem);
}

.range-clear-button::after {
  background-color: transparent !important;
  color: #c0c0c0 !important;
  height: 20px !important;
  width: 20px !important;
  font-size: 20px !important;
}

a {
  @apply text-purple;
}

.richtext_html ul {
  list-style: disc !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.richtext_html ol {
  list-style: auto !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
